html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    border: none;
}

button,
input,
select {
    outline: transparent;
}


body {
    min-width: 320px;
    color: #3D3D3D;
    font-family: 'Montserrat-Regular';
    background-color:  #eeeeeea3;;
}

.container {
    max-width: 1748px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Montserrat-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
}

.button-gradient {
    position: relative;
    text-align: center;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../images/border.svg');
        left: 0;
        top: 0;
        bottom: 0;
        right: -6px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.yellow-btn {
    padding: 20px 25px;
    background: #FFCB4A;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.06);
}

#wrapper__parallax {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        filter: blur(58px);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #D9E2EB -0.31%, rgba(217, 226, 235, 0) 100%);

    }
}

.scene__parallax {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0px;
    overflow: hidden;
    z-index: -1;
}

.parallax-layes {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

.bunner__parallax {
    max-width: 1400px;
    background-image: url('../images/roundWave.svg');
}

.project__parallax {
    background-image: url('../images/project-wave.svg');
}

.slider__parallax {
    background-image: url('../images/wave.svg');
}

.services__item-parallax {
    background-image: url('../images/wave.svg');
    left: auto !important;
    right: -120px;
    bottom: 60px;
    top: auto !important;
}

.services__wrapper-parallax {
    background-image: url('../images/round.svg');
}
.technology__parallax{
    background-image: url('../images/wave.svg');
  
   background-position: 30%;
}
.main-rewievs__parallax{
    background-image: url('../images/wave.svg');
  background-position: right -150px;
}
.blue-box {
    background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
    min-height: 282px;
    color: #fff;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 89%;
        height: 50px;
        background: #E4E6EA;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
       bottom: -21px;
       left: 34px;
       right: 34px;
        z-index: -100;
      }
    &__inner {
        padding: 52px 31px 52px 57px;
              position: relative;
    }

    &__suptitle {
        color: rgba(210, 224, 233, 0.06);
        font-size: 72px;
        line-height: 76px;
        left: 33px;
        font-family: 'Montserrat-Black';
        font-style: normal;
        font-weight: 800;
       margin-top: -50px;
       margin-left: -50px;
    }

    &__title {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        position: relative;
        font-size: 26px;
        line-height: 106%;
        margin-bottom: 30px;
        margin-top: -20px;
    }

    &__text {
        font-family: 'Montserrat-Medium';
        font-weight: 500;
        letter-spacing: -0.01em;
        font-size: 16px;
        line-height: 30px;
    }
}