@import"fonts";
@import"vars";
@import"global";





//////////////////////start header//////////////////////
@keyframes forHeader {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

.header {
    padding-top: 28px;
    padding-bottom: 28px;
    background: rgba(255, 255, 255, 0.52);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03);

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 15;
        background: rgb(255, 255, 255);

        animation-name: forHeader;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;

    }
}

.header__menu {
    margin-top: -28px;
    margin-bottom: -28px;

    &-list {
        display: flex;
        align-items: center;
        height: 100%;

    }

    &-item {
        padding: 0 20px;
        font-family: 'Raleway-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.025em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link {
        transition: color, .3s;
    }

    &-item:hover {
        .header__menu-link {
            color: #007aff;
        }
    }
}

.logo {
    margin-right: 30px;

}

.header__communications {
    &-link {
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.025em;
        padding: 0 20px
    }

    &-btn {
        @include gradient;
        font-family: 'Raleway-SemiBold';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.025em;
        font-style: normal;
        padding: 13px 23px;
        display: inline-block;
        margin-left: 20px;
    }
}

.header__communications-link+.header__communications-link {
    position: relative;

    &::before {
        content: '|';
        position: absolute;
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        left: -7px;
    }
}

.main-bunner {
    &__inner {
        display: flex;
        // padding-top: 127px;
        // padding-bottom: 154px;
        padding-bottom: 30px;
        position: relative;
        justify-content: space-between;
    }

    &__content {
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 72px;
        line-height: 79px;
        margin-bottom: 40px;
    }

    &__title span {
        @include gradient;
        font-family: 'Montserrat-SemiBold';
        font-size: 85px;
        display: block;
    }

    &__btn-box {
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__btn {
        margin-right: 40px;
    }

    &__more {
        color: #8E8E8E;
        padding-right: 41px;
        position: relative;
        line-height: 29px;
    }

    &__more::before {
        position: absolute;
        content: '';
        background-image: url('../images/grey-arr.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 29px;
        height: 29px;
        background-position: center;
        right: 0;
        top: 0;
    }
}

.main-banner__bottom {
    height: 73px;
    width: 100%;

    .swiper-slide {
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide img {
        display: block;
        object-fit: contain;  filter: grayscale(1); 
    }
    .swiper-slide:hover{
        img{
        filter: grayscale(0);}
    }
}

// .main-banner__slide-rio{
//     background-image: url('../images/rio.png');
//     &:hover{
//         background-image: url('../images/rio-color.png');
//     }
// }
// .main-banner__slide-optima{
//     background-image: url('../images/optima.png');
//     &:hover{
//         background-image: url('../images/optima-color.png');
//     }
// }
// .main-banner__slide-mettem{
//     background-image: url('../images/mettem.png');
//     &:hover{
//         background-image: url('../images/mettem-color.png');
//     }
// }
// .main-banner__slide-familyRoom{
//     background-image: url('../images/familyRoom.png');
//     &:hover{
//         background-image: url('../images/familyRoom-color.png');
//     }
// }


///////////////////////////SLIDER///////////////////////////
.main-banner__slider {
    width: 700px;
}

.main-banner__slider__active {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #fff;
}

.main-banner__slider {
    overflow: hidden;
    height: calc(70px * 7);
}

.main-banner__slider__overlay {
    position: absolute;
    height: 70px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .4s ease .1s;
}

.main-banner__slider__overlay svg {
    width: 100%;
    height: 100%;
    transition: all .4s ease .1s;
}

.main-banner__slider .swiper-slide .slide-content:after {
    content: '';
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease;
    opacity: 0;
}

.main-banner__slider .swiper-slide.swiper-slide-active:hover .slide-content:after {
    transform: translateY(-50%) translateX(0%);
    opacity: 1;
}


.main-banner__slider .swiper-slide {
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D2E0E9;
    width: 100%;

    position: relative;
}

.slide-content {
    transition: all .5s ease !important;
    right: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    opacity: .5;
    position: relative;
}

.slide-content-copy {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D3D;
    text-shadow: 0px 4px 15px rgba(0, 76, 119, .13);
    white-space: nowrap;
    opacity: 0;
    position: absolute;
    z-index: -100;
    pointer-events: none;
    width: fit-content;
}

.main-banner__slider .swiper-slide:not(.swiper-slide-active) .slide-content {
    pointer-events: none;
}


.main-banner__slider .swiper-slide.swiper-slide-active .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-duplicate-active .slide-content {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D3D;
    text-shadow: 0px 4px 15px rgba(0, 76, 119, .13);

    opacity: 1;
    width: fit-content;
    margin: 0 auto;
}

.main-banner__slider .swiper-slide.swiper-slide-prev .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-next .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-prev.swiper-slide-duplicate-active .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-next.swiper-slide-duplicate-active .slide-content {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.025em;
    color: #B8CBD7;
    opacity: 1;
}

.main-banner {
    margin-bottom: 147px;
}

/////////////////////END slider//////////////////////////
.page-content__inner {
    display: flex;
}

.page-content {
    max-width: calc(1818px + ((100% - 1718px) / 2));
    //1774 = 1718 (container)+padding выступающий "за контейер"
    padding-left: calc((100% - 1718px) / 2);
}

@media (max-width: 1748px) {
    .page-content {
        padding-left: 15px;
    }
}

.page-nav {
    max-width: 375px;
    width: 100%;
    padding-right: 50px;
    padding-top: 80px;
    flex-shrink: 0;

}

.page-nav.fixed {
    top: 130px;
    position: fixed;
    z-index: 50;
}


.page-nav__list {
    color: #B6CBD8;
    font-weight: 500;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 20px;

    &-item {
        margin-bottom: 32px;
    }

    &-link.active {
        display: block;
        color: #DA4848;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Montserrat-SemiBold';
        padding-left: 25px;
        position: relative;
    }

    &-link.active::before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: #DA4848;
        position: absolute;
        left: 0;
        top: 50%;
    }
}

.page-nav__list-link:hover{
    color: #DA4848;
}
.all-project__link:hover{
    color: #DA4848;
    font-weight: 600;
}


.footer__nav-item:hover{
.footer__nav-link{
   border-bottom: #007aff 1px solid;
}
}
/////////////////////START PROJECT//////////////////////////
.all-project {
    position: relative;

    box-shadow: inset 0px 4px 29px rgba(0, 76, 119, 0.1);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(115.1deg, #FFFFFF 0%, rgba(233, 242, 247, 0.96) 100%);
        z-index: -1
    }

    &__top-box {
        text-align: right;
    }

    &__inner {
        padding-top: 80px;
        padding-bottom: 110px;
        padding-left: 375px;
    }

    &__link {
        text-transform: lowercase;
        font-family: 'Montserrat-Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #DA4848;
        padding-right: 50px;
        position: relative;
        margin-bottom: 55px;
    }

    &__link::after {
        content: '';
        position: absolute;
        left: 115px;
        top: 5px;
        height: 16px;
        width: 40px;
        background-image: url('../images/arrow-red.svg');
        background-repeat: no-repeat;

    }

    &__item-box {
        display: grid;
        grid-template-columns: repeat(auto-fill, 310px);
        grid-row-gap: 60px;
        grid-column-gap: 30px;
        justify-content: center;
    }
}

.all-project__item {
    &-text {
        font-family: 'Montserrat-SemiBold';
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
    }

    &-img {
        display: block;
        width: 100%;
        height: 455px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

///////////////////////////START PREFERENSE////////////////

.preference {
    padding-bottom: 26px;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 30px;
        position: relative;
    }

    &__title {
        color: #B6CBD8;
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        max-width: 388px;
        margin-right: 19px;
    }
}

.preference-slider__wrapper {
    max-width: 913px;
    width: 100%;
    min-height: 282px;
    padding-right: 74px;
    position: relative;
}

.preference-slider {
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 282px;

    &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 258px;
        background: #E4E6EA;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        z-index: -100;
    }
}

.slider-button {
    position: relative;
    top: -50%;
    right: -103%;
    background: none;

    img {
        width: 47px;
        height: 20px;
    }

}

@keyframes slideMove {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(30%);
    }

    70% {
        opacity: 0.9;
    }

    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

.preference-slide {
    color: #FFFFFF;
    background: #E4E6EA;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 282px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.active {
        background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
    }

    &.move {
        animation-name: slideMove;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 100 !important;
    }

    &__inner {
        padding: 20px 84px 52px 10px;
        display: flex;
        margin-top: -50px;
        position: relative;
    }


    &__title {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        position: relative;
        font-size: 26px;
        line-height: 106%;
        margin-bottom: 30px;
    }

    &__suptitle {
        color: rgba(210, 224, 233, 0.06);
        font-size: 4vw;
        line-height: 76px;
        left: 33px;
        font-family: 'Montserrat-Black';
        font-style: normal;
        font-weight: 800;


    }

    &__text {
        font-family: 'Montserrat-Medium';
        font-weight: 500;
        letter-spacing: -0.01em;
        font-size: 16px;
        line-height: 30px;
    }

    &__num {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 144px;
        line-height: 106%;
        max-width: 190px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
    }
}

//////////////srart services///////////
.services {
    // padding-right: 56px;
    padding-right: 100px;
    max-width: 1718px;
    padding-top: 100px;
    padding-bottom: 190px;


    &__title {
        @include gradient;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 34px;
    }

    &__wrapper {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        margin-bottom: -76px;
        grid-column-gap: 50px;
        justify-content: space-between;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
    }
}

@media (max-width: 1718px) {
    .services {
        padding-right: 15px;

    }
}

.services__item-wrapper {
    position: relative;
    padding-top: 25px;
    padding-right: 60px;
    //max-width: 610px;

    margin-bottom: 76px;
    margin-right: 30px;
}

.services__item {
    background: #ECEFF3;
    //backdrop-filter: blur(6px);
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 25px;
    // max-width: 520px;

    &-suptitle {
        color: rgba(255, 255, 255, 0.25);
        font-weight: 800;
        font-size: 47px;
        line-height: 51px;
        font-family: 'Montserrat-Black';
        margin-left: -80px;
    }

    &-title {
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold';
        color: #B6CBD8;
        margin-bottom: 25px;
        margin-top: -20px;
    }

    &-list {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: 'Montserrat-Medium';
        color: #3D3D3D;
    }

    &-list li+li {
        margin-top: 13px;
    }

    &-inner {
        padding-bottom: 30px;
        position: relative;
    }

    &-inner:after {
        content: '';
        width: 530px;
        height: 1px;
        background: #B6CBD8;
        left: 0px;
        bottom: 0;
        position: absolute;
    }

    &-link {
        @include gradient;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Montserrat-Medium';
        line-height: 22px;
        display: block;
        text-align: right;
        padding-right: 30px;
        position: relative;
        margin-top: 34px;
        transform: translateX(108px);
        transition: color .3s;
    }

    &-link::before {
        content: '';
        position: absolute;
        right: 0;
        top: 5px;
        height: 15px;
        width: 13px;
        background-image: url('../images/arrow-top-right.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: top .3s;
    }
}

//////////////////////start technology////////

.technology-box {
    max-width: 721px;
    margin-right: 40px;
    width: 100%;
}

.technology__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 20px;
    margin-bottom: 180px;
}

.technology__slider-wrapper {
    padding-right: 79px;
    width: 100%;
    position: relative;
}

.technology__slider {
    max-width: 600px;
    width: 100%;
    height: 282px;
}

.technology__slide {
    cursor: pointer;

    &-inner {
        display: grid;
        grid-template-columns: repeat(3, minmax(110px, 130px));
        grid-template-rows: repeat(auto-fill, minmax(50px, max-content));
        grid-column-gap: 20px;
        grid-row-gap: 32px;
        justify-content: space-between;
        align-items: center;
    }

    &-img {
        text-align: center;
        font-size: 0;
    }

}

.slider-button.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 14px;

    &::after {
        display: none;
    }
}

///////////////////main-form///////////////////@at-root
.connect {
    padding-top: 260px;
    padding-left: 25px;
    position: relative;

    &__inner {
        display: flex;
        min-height: 296px;
        position: relative;
        padding-right: 88px;
        padding-bottom: 25px;

    }

    &__inner::before {
        content: '';
        position: absolute;
        width: 97.5%;
        height: 50px;
        background: #E4E6EA;
        top: -20px;
        left: 34px;
        right: 0;
        z-index: -100;
    }

    &__inner::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 2000px;
        width: 100000000%;
        background: linear-gradient(98.7deg, #14719A 1.48%, #03A9C4 79.16%);
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
        z-index: -1;
    }

    &__content {
        padding-top: 75px;
        padding-right: 78px;
        padding-left: 57px;
        padding-bottom: 25px;
        padding-right: 95px;
        color: #FFFFFF;
    }

    &__content-title {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 20px;
    }

    &__content-text {
        font-size: 18px;
        line-height: 30px;
        max-width: 726px;
    }
}

.connect__form {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    box-shadow: 0px 4px 50px rgba(0, 76, 119, 0.08);
    text-align: center;
    padding: 44px 23px 40px;
    margin-top: -140px;
    max-width: 429px;
    width: 100%;



    &-title {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;

    }

    &-input {
        background: rgba(255, 255, 255, 0.36);
        border: 1px solid #90B6CB;
        padding: 8px 22px;
        height: 46px;
        max-width: 336px;
        width: 100%;

    }

    &-input+&-input {
        margin-top: 15px;
    }

    &-input::placeholder {
        color: #6095B4;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }

    &-button {
        margin-top: 30px;
        margin-bottom: 19px;
        height: 46px;
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        padding: 0 30px;
        text-align: center;
        line-height: 46px;
        letter-spacing: 0.025em;
    }

    &-text {
        font-size: 12px;
        line-height: 19px;
    }
}

/////////////////////////////////////review///////////////////
.main-rewievs {
    &__inner {
        padding-top: 180px;
        padding-bottom: 110px;
        position: relative;
    }

    &__title {
        margin-bottom: 21px;
    }

    &__text {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 22px;
    }

    &__text span {
        font-family: 'Montserrat-SemiBold';
        font-size: 20px;
        line-height: 34px;
    }

    &__slider-wrapper {
        padding-top: 34px;
        position: relative;
        padding-bottom: 105px;
        overflow: hidden;
    }

    .swiper-wrapper {
        align-items: center;
    }

    &__slider {
        min-height: 426px;
        width: 100%;
        font-family: 'Raleway-Medium';
        line-height: 24px;
        font-weight: 500;
        overflow: visible;
        align-items: center;
        display: flex;
    }

    &__slide {
        height: auto;

    }

    &__slide-inner {
        background: rgba(255, 255, 255, 0.65);
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 50px rgba(174, 174, 174, 0.07);
        padding: 44px 30px 0px;
        transition: all .3s;
    }

    // &__slide.swiper-slide-active {

    //     transform: scale(1)!important;
    // }
    &__slide-text {
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        color: #688FA5;

    }


    &__slide-button {
        height: 45px;
        line-height: 45px;
        padding: 0 30px;
        text-align: center;
        background: #FAE0A0;
        color: #9E9E9E;
        font-size: 16px;
        letter-spacing: 0.025em;
        font-family: 'Raleway-SemiBold';
        position: relative;
        left: 50%;
        transform: translateY(25px) translateX(-50%);
    }
}

.main-rewievs__scrollbar {
    background: #E4E6EA;
    border-radius: 12px;
    height: 10px;

    .swiper-scrollbar-drag {
        width: 154px !important;
        background: #0E88AC;
        border-radius: 12px;
    }
}

.swiper-slide-active {

    .main-rewievs__slide-inner {
        padding: 54px 30px 0px;
    }

    .main-rewievs__slide-text {

        font-size: 16px;
        color: #2474A0;

    }

    .slide-top__text {
        font-size: 14px;
        color: #5B5B5B;
    }

    .slide-top__link {
        background: linear-gradient(124.36deg, #176793 3.43%, #00B4CD 96.51%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 14px;
        line-height: 14px;
    }

    .slide-top__title {
        font-size: 20px;
        line-height: 106%;
        color: #3D3D3D;
    }


    .main-rewievs__slide-button {
        color: #3D3D3D;
        background: #FFCB4A;

    }
}

.slide-top__box+.slide-top__box {
    padding-left: 37px;
}

.main-rewievs__slide-top {
    display: flex;
    margin-bottom: 43px;
    justify-content: space-between;
}

.slide-top__title {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    color: #6F6F6F;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 15px;
}

.slide-top__link {
    background: linear-gradient(124.36deg, rgba(23, 103, 147, 0.5) 3.43%, rgba(0, 180, 205, 0.5) 96.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    letter-spacing: 0.01em;
    font-family: 'Raleway-SemiBold';
    font-size: 12px;
    line-height: 16px;
}

.slide-top__text {
    font-size: 12px;
    line-height: 24px;
    color: #8F8F8F;
    max-width: 410px;
    width: 100%;
}


.slide-top__text+.slide-top__text {
    margin-top: 25px;
}

.main-rewievs__slide-text--right {
    margin-top: 25px;
    text-align: right;
}



////////awards/////
.awardas__inner {
    padding-top: 110px;
    padding-bottom: 80px;
}

.awardas__title {
    @include gradient;
    margin-bottom: 20px;
}

.awards__text-box {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.awards__link {
    margin-top: 0;
    color: #DA4848;
    transform: translateX(0);
}

.awards__slider {
    overflow: hidden;
    height: 472px;
    padding-left: 45px;
    padding-bottom: 50px;
    padding-top: 20px;
    position: relative;
    max-width: 1447px;


    &-wrapper {
        position: relative;
        padding-bottom: 125px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 125px;
            width: 100000px;
            background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
            box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.07);
        }


        &::after {
            content: '';
            background: #E4E6EA;
            box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
            height: 429px;
            width: 50px;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }


}

.swiper-pagination.awards__slider-pagination {
    .swiper-pagination-bullet {
        background: transparent;
        width: 10px;
        transition: width .5s;
        height: 10px;
        border-radius: 15px;
        background: transparent;
        border: 2px solid #176793;

    }

    .swiper-pagination-bullet-active {
        background: linear-gradient(124.36deg, #176793 3.43%, #00B4CD 96.51%);
        width: 35px;
        height: 10px;
        border: none;
    }
}

.awards__slide {
    &-inner {
        color: #FFFFFF;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &-titleBox {
        font-family: 'Raleway-SemiBold';
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
    }

    &-supTitle {
        color: rgba(210, 224, 233, 0.06);
        font-weight: 800;
        font-size: 40px;
        line-height: 42px;
        font-family: 'Montserrat-Black';
        margin-bottom: -14px;
    }

    &-year {
        display: block;
        margin-bottom: 9px;
        color: rgba(255, 255, 255, 0.33);
    }

    &-content {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Montserrat-Bold';
        font-size: 100px;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 273px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &-content::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/lavr.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &-text {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }

    &-text span {
        font-family: 'Montserrat-Light';
        font-weight: 300;
    }

    &-text p {}
}

/////////////text-block//////////////////
.text-block {
    padding-top: 80px;
    padding-bottom: 236px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        position: relative;
        max-width: 824px;
        width: 100%;
        background-image: url('../images/text-b-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 597px;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.04);
        margin-right: 100px;
    }

    &__img::before {
        background: #E4E6EA;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.04);
        position: absolute;
        content: '';
        width: 621px;
        height: 401px;
        right: -50px;
        bottom: -45px;
        z-index: -1;
    }

    &__content {
        max-width: 764px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 30px;

        p+p {
            margin-top: 65px;
        }
    }

    &__title {
        margin-bottom: 40px;
        @include gradient;


    }
}

//////////////////////////footer////////////////////

.footer {
    background: #ECEFF3;

    &__top {

        border-bottom: 1px solid #B6CBD8;
    }

    &__top-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 108px;
    }

    &__nav {
        @include gradient;
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-transform: capitalize;
        margin-right: 20px;

    }

    &__nav-list {
        display: flex;
        width: 100%;
    }

    &__tel {
        @include gradient;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.025em;
        text-transform: capitalize;
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: 700;
    }

    &__bottom {
        padding-top: 37px;
        padding-bottom: 15px;
    }

    &__bottom-inner {
        display: grid;
        grid-row-gap: 43px;
        grid-column-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    &__bottom-item {

        font-size: 16px;
        letter-spacing: 0.02em;

    }

    &__copy {
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500px;
        font-family: 'Montserrat-Medium';

    }

    &__copy-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__copy-adress {
        @include gradient;
        font-size: 16px;
        line-height: 24px;
        padding-right: 15px;

    }

    &__copy-copy {
        color: #B6CBD8;
        font-size: 14px;
        line-height: 20px;
        padding-right: 15px;
    }

    &__bottom-title {
        font-family: 'Montserrat-SemiBold';
        line-height: 41px;
    }

    &__bottom-list {
        line-height: 33px;
        font-family: 'Montserrat-Medium';

    }

    &__social-list {
        display: flex;
        align-items: center;

        li+li {
            margin-left: 23px;
        }
    }
}

.footer__nav-item+.footer__nav-item {
    margin-left: 69px;
}

.page-nav--empty {
    padding-left: 375px;
    display: block;
    min-width: 100%;
}

section {
    width: 100%;
}

.technology__slider {
    position: relative;
    overflow: hidden;
}

.technology__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.technology__slide.active {
    opacity: 1;
    visibility: visible;
}

.technology__slide.move {
    animation: away 1s forwards ease-in;
}

.technology__slider-button {
    top: 50%;
    right: 0;
    position: absolute;
}

@keyframes away {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1000%);

    }
}

.services__item-link:hover {
    color: #B6CBD8;
    background: none;
    -webkit-text-fill-color: #B6CBD8;
}

.services__item-link:hover::before {
    top: -2px;
}

.burger__menu {
    display: none
}


/////////////////////////burger-menu/////////////////////////

.burger__menu {
    max-width: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
    padding-top: 5px;
    background-color: transparent;
    padding: 0;

}

.burger__menu:focus {
    outline-width: 0;
}

.burger__menu [class*='bar-'] {
    background: #cf143e;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;

    /* 
     * ENLARGED FOR PRESENTATION
     * Keep these values at the same proportion 
     * for it to look correct
    */
    border-radius: 4px;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;

    /*
     * Practical values:
     * border-radius: 2px;
     * height: 2px;
     * width: 25px;
     * margin-bottom: 4px;
    */
}

.burger__menu .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}

////////////////////////drop-down menu

.header__drop-down {
    position: relative;
}

.drop-down__btn {
    background: transparent;

    img {
        display: block;
    }
}


.drop-down__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 250px;
    background-color: #e1e7eb;
    z-index: 20;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03);
    height: 0;
    max-height: 0px;
    transition: max-height .3s ease-in;
    overflow: hidden;
}

.drop-down__menu.opened {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 250px;
    background-color: #e1e7eb;
    z-index: 20;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03);
    height: auto;
    max-height: 1000px;

}

.drop-down__item {
    padding: 20px 10px;
    border-bottom: 1px solid #B6CBD8;

    &:hover {
        color: #fff;
    }
}

/////////////////start animated button///////
.js-animated-button {
    overflow: hidden;
    position: relative;

}

.wave {
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    transform: scale(0);
    animation: wave .5s linear;
    pointer-events: none;
    position: absolute;
}

@keyframes wave {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

///////////////////seo-banner///////////////

.seo-banner {
    min-height: 325px;
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: drop-shadow(0px 4px 49px rgba(0, 0, 0, 0.25));

    &__content::before {
        content: '';
        position: absolute;
        //right: 140px;
        right: -270px;
        bottom: -78px;
        //bottom: 0;
        background-image: url('../images/righr_cub.png');
        width: 151px;
        height: 210px;
        background-repeat: no-repeat;
    }
    &__content::after {
        content: '';
        position: absolute;
      //  left: 100px;
      left: -321px;
      bottom: -75px;
       // bottom: 0;
        background-image: url('../images/left_cub.png');
        width: 237px;
        height: 188px;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__title {
        font-family: 'Montserrat-SemiBold';
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 20px;
    }

    &__subtitle {
        padding-top: 33px;
        font-family: 'Montserrat-Black';
        font-weight: 800;
        font-size: 96px;
        color: rgba(210, 224, 233, 0.08);
        line-height: 96px;
    }

    &__text {
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }

    &__content {
        position: relative;
        max-width: 1090px;
        margin: 0 auto;
    }

}

.header.page-header {
    background: rgba(251, 251, 251, 0.85);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03);
}

//////////////////seo-price/////////////////
// .seo-price.services  {
//     padding-bottom: 0;
// }
.seo-connect {
    padding-top: 140px;
    padding-bottom: 20px;
}

.seo-connect__inner::after {
    // background:rgba(23, 103, 147, 0.93);
    background-image: url(../images/seo-form-bg-2.jpg);
    // background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;

}

.seo-pice__text {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.services__item-text {
    p+p {
        padding-top: 15px;
    }
}

.connect__content-title span {
    display: inline-block;
    color: #FFCB4A;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    padding: 3px 24px;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    margin-right: 14px;
}

.seo-about {
    padding-top: 130px;
}

.seo-about__content {
    // padding-right: 56px;
    padding-right: 100px;
}

.seo-about__title {
    margin-bottom: 30px;
    @include gradient;
}

.seo-about__text {
    margin-bottom: 65px;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    line-height: 31px;
    font-style: normal;
    font-weight: 500;
}

.seo-about__text p+p {
    padding-top: 40px;
}

.seo-connect__content {
    padding-top: 55px;
    padding-bottom: 20px;
}

.seo-about__content-wrapper {
    margin-bottom: 160px;
}

.seo-about__imageBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 29px;
    margin-bottom: 46px;
}

.seo-about__note {
    font-size: 18px;
    line-height: 31px;
    color: #C0C0C0;
    font-family: 'Montserrat-Medium';
}

.imageBox__item {
    height: 460px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.add__title {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
    padding-top: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: #3D3D3D;
        width: 97px;
        height: 2px;
        left: 0;
        top: 0;
    }
}

.add__text {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 65px;
}

.seo-about__add {
    padding-right: 100px;
}



.seo-calc__inner {
    position: relative;
    display: flex;
    padding-right: 100px;
    align-items: center;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100000px;
        height: 100%;
        background: #E4E6EA;
        z-index: -1;
    }
}

.seo-calc__form-wrapper {
    padding-top: 36px;
    padding-bottom: 12px;
    padding-left: 30px;
    position: relative;
    margin-top: -53px;
    margin-bottom: -29px;
}

.seo-calc__content {
    max-width: 520px;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.seo-calc__title {
    @include gradient;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 20px;
    font-family: 'Montserrat-SemiBold';
}

.seo-calc__text {
    font-size: 16px;
    line-height: 26px;
}

.seo-calc__form {
    background: #038BB5;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.13);
    text-align: center;
    padding: 0 48px 40px;

    height: 100%;
}

.seo-include {
    padding-top: 170px;
    padding-bottom: 100px;
}

.seo-calc__form-title {
    font-weight: 800;
    font-size: 72px;
    line-height: 76px;
    color: rgba(210, 224, 233, 0.06);
    font-family: 'Montserrat-Black';
}

.seo-calc__form-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat-SemiBold';
    margin-top: -33px;

}

.seo-calc__form-selectBox {
    display: flex;
    justify-content: center;

}

.seo-calc__form-btn {
    font-family: 'Montserrat-SemiBold';
    background: #FFCB4A;
    padding: 0 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.025em;
    margin-bottom: 20px;
}

.seo-calc__form-link {
    color: rgba(255, 255, 255, 0.64);
    text-decoration-line: underline;
    font-size: 16px;
    line-height: 26px;
    display: block
}

.seo-include__inner {
    padding-right: 100px;
}

.seo-include__title {
    @include gradient;
    margin-bottom: 60px;

}

.seo-include__button {
    background: #F2F2F2;
    padding: 15px 50px 15px 30px;
    color: #3D3D3D;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    transition: all, .5s;

    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 17px;
        height: 7px;
        right: 20px;
        top: 50%;
    }

    &:hover {
        background: #ddd;
    }


    &.active {
        background: linear-gradient(180deg, #176793 0%, #0492BE 100%);
        color: #fff;
    }

    &.active::before {
        background-image: url('../images/active-arrow.svg');
    }
}

.seo-include__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 0px 30px;
    max-height: 0;
    transition: max-height, .5s;
    overflow: hidden;

    &.open {
        padding: 25px 30px;
        max-height: 1000px;
    }
}

.seo-preference {
    &__inner {
        padding: 100px 0;
        position: relative;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-left: -30px;
    }

    &__inner::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 10000%;
        left: 165px;
        top: 0;
        bottom: 0;
        background: #ECEFF3;
        z-index: -1;
    }

    &__inner::before {
        content: '';
        position: absolute;
        background-image: url('../images/dots.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 214px;
        height: 84px;
        left: 110px;
        top: -34px;
    }
}

.seo-preference__item {
    text-align: center;
    background: #FFFFFF;
    padding: 39px 15px 29px;
    margin: 15px 30px;
    width: 259px;
    min-height: 259px;

    &-title {
        font-weight: 600;
        font-family: 'Montserrat-SemiBold';
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
        color: #263959;
    }

    &-text {
        font-size: 16px;
        line-height: 22px;
        color: rgba(38, 57, 89, 0.65);
    }

    &-img {
        width: 45px;
        height: 45px;
        object-fit: contain;
        margin-bottom: 20px;
    }
}

.seo-preference__item:first-child {
    width: 417px;
}

.seo-preference__item--last {
    background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 43px;


    .seo-preference__text {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        font-family: 'Montserrat-Medium';

        span {
            font-size: 31px;
            line-height: 37px;
            font-family: 'Montserrat-SemiBold';
            margin-right: 9px;
        }
    }
}

.seo-preference__link {
    display: block;
    margin-top: 15px;
}

.seo-preference__title-item {
    max-width: 417px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 38px;
}

.seo-preference__title {
    font-size: 48px;
    line-height: 57px;
    @include gradient;
    margin-bottom: 30px;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
}

.seo-preference__text {
    color: rgba(38, 57, 89, 0.65);
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Montserrat-Medium';
}

//////////////////////////////////////////////////////////


// Both native and custom selects must have the same width/height.
.selectNative,
.selectCustom {
    position: relative;
    width: 320px;
    height: 46px;
}

// Make sure the custom select does not mess with the layout
.selectCustom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

// This media query detects devices where the primary
// input mechanism can hover over elements. (e.g. computers with a mouse)
@media (hover: hover) {

    // Since we are using a mouse, it's safe to show the custom select.
    .selectCustom {
        display: block;
    }

    // In a computer using keyboard? Then let's hide back the custom select
    // while the native one is focused:
    .selectNative:focus+.selectCustom {
        display: none;
    }
}

/* Add the focus states too, They matter, always! */
.selectNative:focus,
.selectCustom.isActive .selectCustom-trigger {
    outline: none;
    // box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

//
// Rest of the styles to create the custom select.
// Just make sure the native and the custom have a similar "box" (the trigger).
//

.select {
    position: relative;
}

.selectLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.selectWrapper {
    position: relative;
}

.selectNative,
.selectCustom-trigger {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-family: 'Montserrat-Regular';
    background: rgba(255, 255, 255, 0.17);
    border: none;
    border-radius: 0;
    text-align: left;
}

.card+.card {
    margin-left: 16px;
}

.card {
    margin-top: 25px;
    margin-bottom: 25px;
}

.selectNative {
    -webkit-appearance: none;
    -moz-appearance: none;
    //background-image: url("../images/i.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 15px;
    padding: 0rem 0.8rem;
    color: transparent;
}

.selectCustom-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    //background-color: #fff;
    padding: 8px 20px;
    cursor: pointer;
}

.selectCustom-trigger::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    background-image: url('../images/i.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.selectCustom-trigger:hover {
    border-color: #8c00ff;
}

.selectCustom-options {
    position: absolute;
    // top: calc(3.8rem + 0.8rem);
    left: 0;
    top: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.14);
    background: rgba(45, 159, 193, 0.95);
    box-shadow: none;
    z-index: 1;
    //padding: 20px 10px;
    color: #fff;
    display: none;
}

.selectCustom.isActive .selectCustom-options {
    display: block;
}

.selectCustom-option {
    position: relative;
    padding: 10px 20px;
    text-align: left;
}

.selectCustom-option.isHover,
.selectCustom-option:hover {
    background-color: #038BB5; // contrast AA
    color: white;
    cursor: default;
}

//////////////////////////////////////////


#seo-form {
    margin-bottom: 100px;
}


//////////////////start animation//////////////

.main-bunner__title {
    position: relative;
    left: -120%;
}

.main-bunner__text {
    position: relative;
    opacity: 0;
    bottom: -100px;
}

.main-banner__slider {
    opacity: 0
}

.main-bunner__btn-box {
    opacity: 0
}

.main-banner__bottom {
    opacity: 0
}

.logo-bunner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);

    img {
        width: 100%;
        height: 100%;
    }
}

.header {
    position: relative;
    left: -100%;
}

.header::before {
    content: '';
    position: absolute;
    -webkit-filter: blur(58px);
    filter: blur(58px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(-.31%, #D9E2EB), to(rgba(217, 226, 235, 0)));
    background: -o-linear-gradient(left, #D9E2EB -.31%, rgba(217, 226, 235, 0) 100%);
    background: linear-gradient(90deg, #D9E2EB -.31%, rgba(217, 226, 235, 0) 100%);
}

#wrapper__parallax {
    height: 100vh;
}

.main-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.awards__slider {
    right: -100%;
}

.all-project {
    position: relative;
}




@import"media";