@import"fonts";
@import"vars";
@import"global";



// .main-banner__slider {
//     width: 700px;
//     height: 715px;
//     margin-right: 0;

// }

// .main-banner__slide.central-slide {
//     position: relative;
// }

// .main-banner__slide {

//     text-align: center;
//     letter-spacing: 0.025em;
//     font-family: 'Montserrat-Medium';
//     //     font-style: normal;
//     //     font-weight: 500;

//     .swiper-slide__inner {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         height: 100%;
//         position: relative;

//     }

//     .swiper-slide__text {
//         position: relative;
//     }
// }

// // .main-banner__slide.swiper-slide {
// //    
// // }

// // .main-banner__slide.swiper-slide.js-mini {
// //     font-size: 14px;
// //     line-height: 17px;
// //     color: #D2E0E9;
// // }

// // .swiper-slide__text,
// // .dublicate-slide__text {
// //     position: absolute;
// //     transition: right 0.5s;
// //     top: 0;
// //     right: 0;
// //     text-align: right;
// //     top: 50%;
// //     opacity: 1;
// //     transform: translateY(-50%);
// //     transition: transform .5s;
// // }


// // .dublicate-slide__text.active {
// //     pointer-events: none;

// // }

// .main-banner__slide.swiper-slide-active {
//     font-size: 36px;
//     line-height: 44px;
//     color: #3D3D3D;
//     position: relative;

//     // .swiper-slide__text::before {
//     //     position: absolute;
//     //     content: '';
//     //     background-image: url('../images/header-slider-ellipse.svg');
//     //     background-repeat: no-repeat;
//     //     background-size: 100% 100%;
//     //     width: 150%;
//     //     height: 100%;
//     //     background-position: center;
//     //     right: 0;
//     //     left: 0;
//     //     top: 43%;
//     //     transform: translateY(-50%);
//     // }
//     .swiper-slide__inner {
//         padding-right: 65px;
//         position: relative;

//     }

//     .swiper-slide__inner::before {
//         position: absolute;
//         content: '';
//         background-image: url('../images/arrow-black.png');
//         background-repeat: no-repeat;
//         background-size: contain;
//         width: 29px;
//         height: 29px;
//         background-position: center;
//         right: 27px;
//         top: 50%;
//         transform: translateY(-50%);
//     }
// }

// //     .swiper-slide__inner {
// //         //  padding-right: 71px;
// //         position: relative;
// //         transform: scaleY(1.2);
// //         //padding-left: 30px;

// //     }

// //     .swiper-slide__text {
// //         // right: 71px;
// //         animation: animate .5s forwards;
// //     }

// //     .dublicate-slide__text.active {
// //         animation: toSlider .5s forwards;
// //     }

// //     .dublicate-slide__text:not(.active) {
// //         animation: fromSlider .3s forwards;
// //     }

// //     .swiper-slide__inner::before {
// //         position: absolute;
// //         content: '';
// //         background-image: url('../images/arrow-black.png');
// //         background-repeat: no-repeat;
// //         background-size: contain;
// //         width: 29px;
// //         height: 29px;
// //         background-position: center;
// //         right: 27px;
// //         top: 50%;
// //         transform: translateY(-50%);
// //     }
// // }


// .swiper-slide-prev.main-banner__slide,
// .swiper-slide-next.main-banner__slide {
//     font-family: 'Montserrat-Bold';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 29px;
//     color: #B8CBD7;

//     // .swiper-slide__inner {
//     //     padding-right: 21px;
//     // }

//     // .swiper-slide__text,.dublicate-slide__text {
//     //     right: 21px;
//     // }
// }

// .main-banner__slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next):not(.js-mini) {
//     font-family: 'Montserrat-Semiold';
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 22px;
//     color: #C2D5E0;


//     // .swiper-slide__inner {
//     //     padding-right: 11px;
//     // }

//     // .swiper-slide__text {
//     //     right: 11px;
//     // }
// }
// @keyframes toSlider {
//     from{
//         opacity: 0;
//         right: 280px;
//     }
//     to{
//         opacity: .7;
//         right: 71px;
//     }
// }
// @keyframes fromSlider {
//     from{
//         opacity:1;
//         right: 71px;
//     }
//     to{
//         opacity: 0;
//         right: 280px;
//     }
// }
// @keyframes animate {
//     from {

//         right: 60px;
//     }

//     to {

//         right: 80px;
//     }
// }

//////////////////////start header//////////////////////
.header {
    padding-top: 28px;
    padding-bottom: 28px;
    background: rgba(255, 255, 255, 0.52);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.03);

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__menu {
    display: flex;

    &-list {
        display: flex;
        align-items: center;
    }

    &-item {
        padding: 0 20px;
        font-family: 'Raleway-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.025em;
    }
}

.logo {
    margin-right: 30px;

}

.header__communications {
    &-link {
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.025em;
        padding: 0 20px
    }

    &-btn {
        @include gradient;
        font-family: 'Raleway-SemiBold';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.025em;
        font-style: normal;
        border: none;
        padding: 13px 23px;
        display: inline-block;
        margin-left: 20px;
    }
}

.header__communications-link+.header__communications-link {
    position: relative;

    &::before {
        content: '|';
        position: absolute;
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        left: -7px;
    }
}

.main-bunner {
    &__inner {
        display: flex;
        padding-top: 127px;
        padding-bottom: 154px;
        position: relative;
        justify-content: space-between;
    }

    &__content {
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 72px;
        line-height: 79px;
        margin-bottom: 40px;
    }

    &__title span {
        @include gradient;
        font-family: 'Montserrat-SemiBold';
        font-size: 85px;
        display: block;
    }

    &__btn-box {
        font-family: 'Montserrat-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__btn {
        margin-right: 40px;
    }

    &__more {
        color: #8E8E8E;
        padding-right: 41px;
        position: relative;
        line-height: 29px;
    }

    &__more::before {
        position: absolute;
        content: '';
        background-image: url('../images/grey-arr.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 29px;
        height: 29px;
        background-position: center;
        right: 0;
        top: 0;
    }
}

.main-banner__bottom {
    height: 73px;
    width: 100%;

    .swiper-slide {
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide img {
        display: block;
        object-fit: contain;
    }
}


///////////////////////////SLIDER///////////////////////////
.main-banner__slider {
    width: 700px;
}

.main-banner__slider__active {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #fff;
}

.main-banner__slider {
    overflow: hidden;
    height: calc(70px * 7);
}

.main-banner__slider__overlay {
    position: absolute;
    height: 70px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .4s ease .1s;
}

.main-banner__slider__overlay svg {
    width: 100%;
    height: 100%;
    transition: all .4s ease .1s;
}

.main-banner__slider .swiper-slide .slide-content:after {
    content: '';
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease;
    opacity: 0;
}

.main-banner__slider .swiper-slide.swiper-slide-active:hover .slide-content:after {
    transform: translateY(-50%) translateX(0%);
    opacity: 1;
}


.main-banner__slider .swiper-slide {
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D2E0E9;
    width: 100%;

    position: relative;
}

.slide-content {
    transition: all .5s ease !important;
    right: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    opacity: .5;
    position: relative;
}

.slide-content-copy {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D3D;
    text-shadow: 0px 4px 15px rgba(0, 76, 119, .13);
    white-space: nowrap;
    opacity: 0;
    position: absolute;
    z-index: -100;
    pointer-events: none;
    width: fit-content;
}

.main-banner__slider .swiper-slide:not(.swiper-slide-active) .slide-content {
    pointer-events: none;
}


.main-banner__slider .swiper-slide.swiper-slide-active .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-duplicate-active .slide-content {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #3D3D3D;
    text-shadow: 0px 4px 15px rgba(0, 76, 119, .13);

    opacity: 1;
    width: fit-content;
    margin: 0 auto;
}

.main-banner__slider .swiper-slide.swiper-slide-prev .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-next .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-prev.swiper-slide-duplicate-active .slide-content,
.main-banner__slider .swiper-slide.swiper-slide-next.swiper-slide-duplicate-active .slide-content {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.025em;
    color: #B8CBD7;
    opacity: 1;
}

/////////////////////END slider//////////////////////////
.page-content__inner {
    display: flex;
    padding-top: 147px;
    padding-bottom: 155px;
}

.page-content {
    max-width: calc(1774px + ((100% - 1718px) / 2));
    //1774 = 1718 (container)+padding выступающий "за контейер"
    padding-left: calc((100% - 1718px) / 2);
}

@media (max-width: 1748px) {
    .page-content {
        padding-left: 15px;
    }
}

.page-nav {
    max-width: 375px;
    width: 100%;
    padding-right: 50px;
    padding-top: 80px;
}

.page-nav__list {
    color: #B6CBD8;
    font-weight: 500;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 20px;

    &-item {
        margin-bottom: 32px;
    }

    &-item.active {
        color: #DA4848;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Montserrat-SemiBold';
        padding-left: 25px;
        position: relative;
    }

    &-item.active::before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: #DA4848;
        position: absolute;
        left: 0;
        top: 50%;
    }
}

.main-content {
    width: 100%;

}

/////////////////////START PROJECT//////////////////////////
.all-project {
    position: relative;
    background: linear-gradient(115.1deg, #FFFFFF 0%, rgba(233, 242, 247, 0.96) 100%);
    box-shadow: inset 0px 4px 29px rgba(0, 76, 119, 0.1);

    &__top-box {
        text-align: right;
    }

    &__inner {
        padding-top: 80px;
        padding-bottom: 110px;
        padding-left: 375px;
    }

    &__link {
        text-transform: lowercase;
        font-family: 'Montserrat-Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #DA4848;
        padding-right: 50px;
        position: relative;
        margin-bottom: 55px;
    }

    &__link::after {
        content: '';
        position: absolute;
        left: 115px;
        top: 5px;
        height: 16px;
        width: 40px;
        background-image: url('../images/arrow-red.svg');
        background-repeat: no-repeat;

    }

    &__item-box {
        display: grid;
        grid-template-columns: repeat(auto-fill, 310px);
        grid-row-gap: 60px;
        grid-column-gap: 30px;
        justify-content: center;
    }
}

.all-project__item {
    &-text {
        font-family: 'Montserrat-SemiBold';
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
    }

    &-img {
        display: block;
        width: 100%;
        height: 455px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

///////////////////////////START PREFERENSE////////////////
.preference {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 30px;
        position: relative;
    }

    &__title {
        color: #B6CBD8;
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        max-width: 388px;
        width: 100%;
        margin-right: 19px;
    }
}

.preference-slider__wrapper {
    max-width: 913px;
    width: 100%;
    min-height: 282px;
    padding-right: 74px;
    position: relative;
}

.preference-slider {
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 282px;

    &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 258px;
        background: #E4E6EA;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        z-index: -100;
    }
}

.slider-button {
    position: relative;
    top: -50%;
    right: -103%;
    background: none;

    img {
        width: 47px;
        height: 20px;
    }

}

@keyframes slideMove {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(30%);
    }

    70% {
        opacity: 0.9;
    }

    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

.preference-slide {
    color: #FFFFFF;
    background: #E4E6EA;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 282px;
    cursor: pointer;

    &.active {
        background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
    }

    &.move {
        animation-name: slideMove;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 100 !important;
    }

    &__inner {
        padding: 52px 84px 52px 10px;
        display: flex;

        position: relative;
    }

    &__inner::before {
        content: 'Экспертный подход';
        position: absolute;
        bottom: 7px;
        color: rgba(210, 224, 233, 0.06);
        font-size: 72px;
        line-height: 76px;
        left: 33px;
        font-family: 'Montserrat-Black';
        font-style: normal;
        font-weight: 800;
        top: 0;
    }

    &__title {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        position: relative;
        font-size: 26px;
        line-height: 106%;
        margin-bottom: 30px;
    }



    &__text {
        font-family: 'Montserrat-Medium';
        font-weight: 500;
        letter-spacing: -0.01em;
        font-size: 16px;
        line-height: 30px;
    }

    &__num {
        font-family: 'Montserrat-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 144px;
        line-height: 106%;
        max-width: 190px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
    }
}